[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
flake8 = "*"

[packages]
slackclient = "*"
parse = "*"
pygithub = "*"
